body {
  background-color: #9ba4b4;
}

.box {
  background-color: #f1f6f9;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: block;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  max-width: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  display: block;
  text-align: center;
  font-size: 40px;
  color: #14274e;
  padding: 50px;
  margin: auto 0;
}

h2 {
  display: block;
  text-align: center;
}
.current {
  display: inline-flex;
  margin: auto 0;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.currentMaxMin {
  display: inline-flex;
  margin: auto 0;
}

.todaysForecast {
  border: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: #394867;
}

.todaysForecast .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.todaysForecast .active:hover {
  text-decoration: none;
}

#currentLocation {
  text-align: center;
  font-size: 40px;
}

#currentTime {
  font-size: 16px;
}

#currentTemperature {
  font-size: 46px;
}

#search-text-input {
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #ffff;
  color: #03506f;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  max-width: 70%;
}

#searchButton {
  display: block;
  margin: 0 auto;
  background-color: #ffff;
  color: #03506f;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#searchButton:hover {
  background-color: #03506f;
  color: #ffff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

#locateButton {
  display: block;
  margin: 0 auto;
  background-color: #ffff;
  color: #03506f;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

#locateButton:hover {
  background-color: #03506f;
  color: #ffff;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}
.weatherForecast {
  border: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: #394867;
  background-color: white;
}

footer.first {
  text-align: center;
  color: #394867;
}
footer a {
  color: #394867;
}

footer.second {
  font-size: 8px;
  color: #394867;
}
